<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Home</title>
    <div class="main-container">
      <div class="header"></div>
      <div class="menu">
        <ul>
          <li><a href="/"> Home</a></li>
          <li><a href="/about"> About</a></li>
          <li><a href="/works"> Works</a></li>
          <li>Photos</li>
        </ul>
      </div>
      <div class="content">
        <div class="info">
          <p>
            <span>Arc Reactor</span>
            The Arc Reactor is a power source designed by Howard Stark and Anton
            Vanko to replicate the Tesseract's energy. After the Tesseract's
            energy had been harnessed by HYDRA during World War II, Stark
            studied the Tesseract attempting to do the same. Limited by the
            technology at his disposal, Stark and Vanko used his research on the
            Tesseract to create the Arc Reactor. Intended to be the first stage
            of Project P.E.G.A.S.U.S., the Arc Reactor remained generally
            inactive until Tony Stark was able to miniaturize it, using it to
            power his Iron Man armors.
          </p>
          <img src="img/arcReactor.webp" alt="" width="200" height="190" />
        </div>
      </div>
    </div>
  </head>
  <body></body>
</html>
